// --------------------------------------------------  
//  - Colors
//  - Layout
// --------------------------------------------------


// --------------------------------------------------
// COLORS
// --------------------------------------------------

$colour-yellow-01: #F4D35E; //darker
$colour-yellow-02: #FAF0CA; //dark
$colour-yellow-03: #F0C052; //darkest
$colour-yellow-04: #F3CE4B;

$colour-brown-01: #40312A; //darkest
$colour-brown-02: #8A4A19; //darker
$colour-brown-03: #DCC0A4; //dark
$colour-brown-04: #EADAC9; //light
$colour-brown-05: #784722;

$colour-brown-06: #E8DBD1;

$colour-cream: #FFFDFA; 

$colour-black: #212121;
$colour-white: #FFFFFF;
$colour-grey: #333333;

$danger-active: #A51700;
$primary-medium-text: #55514F;


// --------------------------------------------------
// LAYOUT
// --------------------------------------------------

$radius-10: 10px;
$radius-5: 5px;
$radius-4: 4px;
$radius-2: 2px;
$radius-1: 1px;