// --------------------------------------------------  
//  - Typography
//  - Variables
//  - Global
//  - Buttons
//  - Input fields / select / dropdowns
//  - Badges
//  - Header
//  - Notification Badges
//  - Navigation bar
//  - Topic List / Post
//  - Modal
//  - Styleguide
//  - Advanced search
//  - Others
// --------------------------------------------------


// --------------------------------------------------
// TYPOGRAPHY
// --------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: local('Rubik Medium'), local('Rubik-Medium'), url(https://fonts.gstatic.com/s/rubik/v9/iJWHBXyIfDnIV7Eyjmmd8WD07oB-.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

$base-font-family: 'Rubik', sans-serif;


// --------------------------------------------------
// VARIABLES
// --------------------------------------------------

@import "variables"; //colour and layout



// --------------------------------------------------
// GLOBAL
// --------------------------------------------------

html {
    font-family: $base-font-family;
    color: $colour-black;
    background: $colour-white;
}

pre {
    border-radius: $radius-4;
    padding: 1em;
}

a {
    color: $colour-brown-02;

    &:visited {
        color: $colour-brown-02;
    }

    &:hover {
        color: $colour-black;
    }
}


// --------------------------------------------------
// BUTTONS
// --------------------------------------------------

.btn {
    border-radius: $radius-4;

    .discourse-no-touch & {
        &:hover, 
        &.btn-hover {
            color: $colour-black;
            background: $colour-yellow-04;
            
            .d-icon {
                color: $colour-black;
            }
        }
    }

    &:hover, 
    &.btn-hover {
        color: $colour-black;
        background: $colour-yellow-04;

        .d-icon {
            color: $colour-black;
        }
    }

    &:active, 
    &.btn-active {
        background-image: none;
        background-color: $colour-brown-05;
        color: $colour-white;

        .d-icon {
            color: $colour-white;
        }
    } 
    
}

.btn-icon,
.btn-text,
.btn-default,
.btn-large {
    background-color: $colour-brown-06;
    color: $colour-brown-01;

    .d-icon {
        color: $colour-brown-01;
    }
}

.btn-primary {
    background-color: $colour-brown-02;
    color: $colour-cream;

    .d-icon {
        color: $colour-cream;
    }

    &:hover, &.btn-hover {
        color: $colour-black;
        background: $colour-yellow-04;
    
        .d-icon {
            color: $colour-black;
        }
    
    }

}

.btn-danger {
    background-color: $danger;
    color: $colour-white;

    .d-icon {
        color: $colour-white;
    }

    &:active, 
    &.btn-active {
        background-color: $danger-active;

        .d-icon {
            color: $colour-white;
        }
    } 

    .discourse-no-touch & {
        &:hover, 
        &.btn-hover {
            color: $colour-cream;
            background: $danger-medium;
            
            .d-icon {
                color: $colour-cream;
            }
        }
    }
}

.btn-flat {
    .d-icon {
        color: $colour-brown-01;
    }
}



// --------------------------------------------------
// INPUT FIELDS - SELECT - DROPDOWNS
// --------------------------------------------------

input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"],
textarea {
    border-radius: $radius-4;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="date"]:focus, 
input[type="month"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="number"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
input[type="color"]:focus,
textarea:focus {
    //box-shadow: 0 0 4px 0 $colour-yellow-03;
    border-color: $colour-yellow-03;
    box-shadow: none;
}

.d-time-input .fields, 
.d-date-time-input, 
.d-date-time-input-range {
    border-color: $primary-medium;
    border-radius: $radius-4;
}

.select-kit {
    .d-icon {
        color: $colour-brown-01;
    }

    .select-kit-collection {
        background: $colour-cream;
    }

    .select-kit-body {
        background: $colour-cream;
    }

    &.combo-box {
        .select-kit-header {
            border-radius: $radius-4;
        }

        &.category-chooser {
            .category-desc {
                color: $colour-black;
            }
        }
    }

    &.multi-select {
        .multi-select-header {
            border-radius: $radius-4; 

            &.is-focused {
                box-shadow: shadow("focus");
                border-radius: 0;

                // box-shadow: 0 0 4px 0 $colour-yellow-03;
                border-color: $colour-yellow-03;
                border-radius: $radius-2;
                box-shadow: none;
            }
        }

        &.is-expanded {
            .select-kit-wrapper {
              // box-shadow: 0 0 4px 0 $colour-yellow-03;
              border-color: $colour-yellow-03;
              border-radius: $radius-2;
              box-shadow: none;
            }
      
            .multi-select-header {
              border-color: $colour-yellow-03;
            }

          }
      
    }
     
}

//select dropdown topic list page

.select-kit.combo-box.category-drop .select-kit-row .badge-wrapper {
    font-weight: 400;
}
.badge-wrapper.bullet span.badge-category {
    color: $colour-black;
}
.select-kit.combo-box .select-kit-body {
    border-radius: $radius-2;
}

.select-kit.single-select .select-kit-filter.is-expanded {
    padding: 0.25em 0.5em;
    border-top: 1px solid $colour-brown-03;
    border-bottom: 1px solid $colour-brown-03
}

.select-kit .select-kit-row.is-highlighted {
    background: $colour-brown-04;
}

.select-kit.combo-box.tag-drop .select-kit-row[data-value="all-tags"], 
.select-kit.combo-box.tag-drop .select-kit-row[data-value="no-tags"] {
    color: $colour-brown-01;
    font-weight: 500;
}

//search result 
.search-link .blurb {
    color: $colour-grey;
}

.search-link .blurb .search-highlight {
    color: $colour-grey;
    font-weight: 600;
}

//search spinner 

.search-menu .searching .spinner {
    border: 2px solid $colour-brown-02;
    border-right-color: transparent;
}

//search users name 
.search-menu .results .secondary-results .search-result-user .user-result .user-titles .name {
    color: $colour-grey;
}
//username
.search-menu .results .secondary-results .search-result-user .user-result .user-titles .username {
    color: $colour-grey;
}


// --------------------------------------------------
// BADGES -- BULLET | BAR | BOX
// --------------------------------------------------

.badge-wrapper.bullet .badge-category-parent-bg, .badge-wrapper.bullet .badge-category-bg {
    border-radius: $radius-1;
}
  
.badge-wrapper.bullet .badge-category-parent-bg {
    border-radius: $radius-1 0 0 $radius-1 ;
}
  
.badge-wrapper.bullet .badge-category-parent-bg+.badge-category-bg {
    border-radius: 0 $radius-1 $radius-1 0; 
}

.badge-category-parent-bg,
.badge-category-bg {
    border-radius: $radius-1;
}

.badge-wrapper.box span.badge-category-bg, 
.badge-wrapper.box span.badge-category-parent-bg {
    border-radius: $radius-1;
}

// badge card 

.badge-card {
    border: 0;
    border-radius: $radius-4;
    background-color: #FCF9F7;

    &.medium:hover {
        box-shadow: 0 4px 14px rgba(178, 132, 93, 0.22);
    }
}



// --------------------------------------------------
// HEADER
// --------------------------------------------------

.d-header {
    box-shadow: none;
    background-color: $colour-yellow-01;
    height: 70px;
}

.d-header-icons {
    .d-icon {
        font-size: 1.45rem;
    }
}

.d-header-icons .icon:hover, .d-header-icons .icon:focus {
    background-color: $colour-cream;
}

.d-header-icons .icon:hover .d-icon, .d-header-icons .icon:focus .d-icon {
    color: $colour-brown-02;
}

.drop-down-mode .d-header-icons .active .icon .d-icon {
    color: $colour-yellow-01;
}

.drop-down-mode .d-header-icons .active .icon {
    background-color: $colour-brown-05;
    border-radius: $radius-2;
   // border: 0;  
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent; 
}

.drop-down-mode .d-header-icons .active .icon:after {
    border-top: 1px solid transparent;
}

//header icon hover
.d-header-icons .icon:hover, .d-header-icons .icon:focus {
    background-color: $colour-brown-02;   
    border-radius: $radius-2;
}

.d-header-icons .icon:hover .d-icon, .d-header-icons .icon:focus .d-icon {
    color: $colour-yellow-01;
}

//header icon unread notification
.d-header-icons .unread-notifications {
    background-color: $colour-grey;
}

//dropdown header menu

.menu-panel.drop-down {
    margin-top: 6px;
}

.menu-panel {
    border: 0;
    background-color: $colour-cream;
    border-radius: $radius-2;

    hr {
        border-color: $colour-brown-04;
    }
}

.menu-panel .badge-notification {
    color: $colour-black;
    background-color: $colour-yellow-01;
}


.menu-panel li a.widget-link:hover, .menu-panel li a.widget-link:focus, .menu-panel li.heading a.widget-link:hover, .menu-panel li.heading a.widget-link:focus {
    background-color: $colour-yellow-04;
    border-radius: $radius-2;
}


//header search menu  input
.search-menu input[type="text"] {
    border-radius: $radius-2;
    color: $colour-brown-01;
  
    &::placeholder {
      color: $colour-brown-02;
    }
  
    &::-ms-input-placeholder {
      color: $colour-brown-02;
    }
  
    &::-ms-input-placeholder {
      color: $colour-brown-02;
    }
  
}
  


// --------------------------------------------------
// NOTIFICATION BADGE
// --------------------------------------------------

.badge-notification, 
.badge-group {
    border-radius: $radius-2;
}


// --------------------------------------------------
// NAVIGATION BAR
// --------------------------------------------------

.nav-pills li a {

    color: $colour-brown-01;

    &.active {
        font-weight: 500;
        border-bottom: 2px solid $colour-yellow-03;
        border-radius: $radius-2;
        background-color: $colour-cream;
        color: $colour-brown-01;
    }

    &:hover {
        border-radius: $radius-2;
        background-color: $colour-yellow-03;
        color: $colour-black;
    }
}

// navigation stacked

.nav-stacked {
    li {
        border-bottom: 1px solid $colour-yellow-03;
    }

    a {
        background-color: $colour-white;
        color: $colour-brown-01;
        
        &.active {
            font-weight: 500;
            border-bottom: 2px solid $colour-yellow-03;
            border-radius: $radius-2;
            background-color: $colour-cream;
            color: $colour-brown-01;

            &::after {
                border-left-color: $colour-brown-01;
            }
        }
    }
}



// --------------------------------------------------
// TOPIC LIST / POST
// --------------------------------------------------

// post menu control 

.nav {
    &.post-controls {
        button {
            border-radius: $radius-2;
        }
    }
}

// topic list

.topic-list {

    td {
        background-color: $colour-cream;
    }

    .num a.badge-posts {
        font-weight: 500;
    }
}

// topic list latest poster 

.topic-list .posters a:first-child .avatar.latest:not(.single) {
    box-shadow: 0 0 3px 1px $colour-yellow-03;
    border: 2px solid $colour-yellow-01;
}

// topic list table 

tbody {
    border-top: 3px solid $colour-brown-02;
}

tr {
    border-bottom: 1px solid $colour-brown-04;
}

table {
    th {
        color: $colour-brown-01;
        font-weight: 500;
    }
}

//topic-list avatar img

img {
    &.avatar {
        border-radius: $radius-10; 
    }
}

#main-outlet {
    padding-top: 2rem;
}

//topic list list-control 
.list-controls .combo-box .combo-box-header {
    background-color: $colour-brown-03;
    border: 0;
    border-radius: $radius-2;
    color: $colour-brown-01;
    font-weight: 400;
}

// topic timer
.topic-status-info {
    .topic-timer-heading {
        font-weight: 500;
    }
}

//post 

.topic-body, .topic-avatar {
    border-top: 3px solid $colour-brown-02;
}

.topic-meta-data {
    margin-top: 15px;
}

.topic-map {
    border-radius: $radius-4;

    .buttons {
        .btn {
            border-radius: 0;
            border-bottom-right-radius: $radius-2;
            border-top-right-radius: $radius-2;
        }
    }
}

//new topic button

#create-topic {
    @extend .btn-primary;
}


//compose new topic

.open {
    .grippie {
        background: $colour-yellow-01;

        &:before {
            border-top: 3px double $primary;
        }
    }
}

#reply-control.draft, #reply-control.saving {
    background: $colour-yellow-01;
    color: $primary;
    flex-direction: row;

    .composer-controls {
        .d-icon {
            color: $primary;
        }
    }

}



// --------------------------------------------------
// MODAL 
// --------------------------------------------------

.modal-inner-container {
    box-shadow: 0 8px 10px rgba(0,0,0,0.15);
    border-radius: $radius-5;
}

.modal-header {
    border-bottom: 1px solid $colour-brown-02;
}

.modal-footer {
    border-top: 1px solid $colour-brown-02;
    border: 0;
}

.inline-modal {
    .modal-inner-container {
        border: 0;
    }
}

.bootbox {
    &.modal {
        border-radius: $radius-4;
    }
}




// --------------------------------------------------
// STYLEGUIDE
// --------------------------------------------------

// styleguide list-menu heading
.styleguide 
.styleguide-menu ul li.styleguide-heading {
    color: $colour-brown-02;
    font-weight: 500;
}

.styleguide 
.styleguide-section 
.styleguide-example 
.example-title {
    color: $colour-brown-01;
    border-bottom: 1px solid $colour-brown-03;
}

.styleguide pre {
    background: $colour-yellow-02;

    &.pre-inline {
        padding: 0;
    }
}

.styleguide-icons {
    .styleguide-icon {
        border-radius: $radius-2;
    }
}

.styleguide {
    .styleguide-contents {
        padding: 1rem;
        border-radius: $radius-4;
    }
}



// --------------------------------------------------
// ADVANCED SEARCH
// --------------------------------------------------

.search-container {
    .search-advanced-sidebar {

        .search-advanced-title {
            background: $highlight;
        }

        .search-advanced-filters {
            background: #FCF9F7; // colour post
        }

    }

    .search-advanced {
        .search-notice {
            .fps-invalid {
                border: 0;
                border-radius: $radius-4;;
            }
        }
    }
}

div.ac-wrap {
    border-radius: $radius-4; 
}

.fps-result {
    .blurb {
        color: $primary-medium-text;

        .date {
            color: $primary-medium-text;
        }
    }
}


// --------------------------------------------------
// OTHERS
// --------------------------------------------------

.discourse-no-touch .sortable:hover {
    background-color: $colour-brown-03;
}

// categories list 

.category-list {
    .category-name {
        font-weight: 500;
    }
}

// sign up CTA
.alert.alert-info {
    background-color: #FCF7ED;
}

.alert .close .d-icon {
    color: $colour-brown-01;
}

//user about box

.user-main {
    .staff-counters {
        background-color: $colour-yellow-01;
        border-radius: $radius-2;

        > div,
        > div a {
            color: $primary;

            span {
                height: 3px;
            }
        }
    }

    .about {

        &.has-background {
            .user-profile-image {
                border-radius: $radius-4;
            }
        }
    }

}


//user avatar flair

$flair-size: 5.5rem;

// 我认为这部分写的是Preference的UI（我认为）
// 包括choose-avatar-flair.js也是干这个的吧

.select-kit.choose-avatar-flair {
  .select-kit-header {
    .select-kit-header-wrapper {
      flex-direction: column;
    }
  }

  .select-kit-header,
  .flair-row {
    .avatar-flair {
      align-items: center;
      background-position: center;
      background-repeat: no-repeat;
      background-size: $flair-size $flair-size;
      display: flex;
      justify-content: center;
      height: $flair-size;
      width: $flair-size;

      &.rounded {
        background-size: ($flair-size / 1.4) ($flair-size / 1.4);
        border-radius: 50%;
      }

      .d-icon {
        display: block;
        height: ($flair-size / 1.8);
        width: ($flair-size / 1.8);
      }
    }

    span {
      white-space: nowrap;
    }
  }

  &.is-expanded .select-kit-body[data-popper-reference-hidden] {
    visibility: unset !important;
    pointer-events: unset !important;
  }

  &.is-expanded .select-kit-body {
    border-radius: 20px 20px 0 0;
    position: fixed;
    height: 600px;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: shadow("composer");
    background: var(--header_background);

    .select-kit-collection {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: min-content;
      grid-auto-flow: row;
      justify-items: center;
      max-height: unset;
      height: 100%;

      .select-kit-row {
        width: 7.5rem;
        height: 8.5rem;
        margin: 0.5rem;
        display: unset;
        list-style-type: none;
        flex: 0 1 auto;
        border-radius: 1.5rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;

        > div {
          display: flex;
          justify-content: center;
        }

        &.is-selected.is-highlighted {
          background: var(--primary-low);
        }
      }
    }

    // 这个btn改了 用的是sunflower的
    .btn-default {
        padding: 1em;
        width: -webkit-fill-available;
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: center;
        background: var(--header_background);
        border-top: 1px solid var(--secondary);
  
        button {
          margin: unset !important;
        }
  
        .btn {
          position: absolute;
          left: 2em;
          color: var(--primary-low-mid);
  
          &:focus {
            background: unset;
  
            .d-icon {
              color: unset;
            }
          }
        }
  
        .btn {
          width: 10em;
          border-radius: 1.2em;
          color: var(--secondary);
          background: var(--tertiary);
        }
      }
    }
  }


// 以下代码感觉没什么用 主要是和group有点关系 怀疑写的是管理能看见的组

.container {
  .groups-boxes {
    grid-template-columns: repeat(auto-fit, 7em);
    justify-content: center;

    .group-box {

      .group-box-inner {
        align-items: center;
        justify-content: center;
        align-content: center;

        .group-info-wrapper {
          flex-direction: column;

          .group-avatar-flair {
            margin: 0;

            .avatar-flair {
              align-items: center;
              background-position: center;
              background-repeat: no-repeat;
              background-size: 5.5rem 5.5rem;
              display: flex;
              justify-content: center;
              height: 5.5rem;
              width: 5.5rem;
            }
          }

          .group-info {
            .group-user-count {
              display: none;
            }
          }
        }

        .group-membership {
          padding-top: 0;
        }
      }
    }
  }

  .users-directory.directory {
    .directory-controls {
      .full-width {
        margin-left: 0;
      }
    }

    .user {
      margin: 1rem;
      border: 1px solid var(--primary-low);
      border-radius: 8px;
      background-color: var(--header_background);
    }
  }
}


// 不知道写的啥
.poster>.avatar-flair.avatar-flair-image{
  display:none;
}

.post-count{
  z-index:1;
}



// 下面的是一些头像框的参数调整 给每个不同位置的头像安排了不同的大小（吧
.topic-avatar{
  padding: 0.4%;
}

.topic-avatar .avatar-flair, // 比如说这一行前一个是topic里的头像后面是头像框
.user-card-avatar .avatar-flair,
.avatar-flair-preview .avatar-flair,
.user-image .avatar-flair,
.latest-topic-list-item .avatar-flair {
  width: 111.8% !important;
  height: 111.8% !important;
}

/*
.user-profile-avatar .avatar-flair{
    transform: scale(3.38);
    width: 89.5% !important;
    height: 89.5% !important;
    top: 0.5% !important;
    left: -3.7% !important;
}
*/

.user-profile-avatar .avatar-flair{
    transform: scale(3.4);
    width: 100px !important;
    height: 100px !important;
    top: 8.5px !important;
    left: 9px !important;
}

/*
.collapsed-info .avatar-flair{
    transform: scale(2.5);
    width: 90% !important;
    height: 80% !important;
    top: 10% !important;
    left: -8% !important;
}
*/

.collapsed-info .avatar-flair{
    transform: scale(2.6);
    width: 100px !important;
    height: 90px !important;
    pointer-events: none !important;
    top: -20% !important;
    left: -28px !important;
}

.topic-avatar .avatar-flair,
.user-card-avatar .avatar-flair,
.avatar-flair-preview .avatar-flair,
.topic-map .poster .avatar-flair,
.user-image .avatar-flair,
.latest-topic-list-item .avatar-flair{
  background-size: 100% 100% !important;
  pointer-events: none !important;
  top: -6.8% !important;
  left: -6.8% !important;
}


// 下面的代码是做动态的 我们暂时没那么高端

/*
.avatar-flair.avatar-flair-admin.avatar-flair-image{
  animation: spin 20s linear infinite;
}

@keyframes spin {
100% {
  transform: rotate(360deg);
}
}
.avatar-flair.avatar-flair-头像框测试.avatar-flair-image{
  animation: hue 20s linear infinite;
}

@keyframes hue {
100% {
  filter: hue-rotate(360deg);
}
}
*/

// 这个也是和group有关的

.groups-header {
  padding: 1em;
  background: var(--header_background);
  margin: 0;
}

.container .groups-boxes .group-box {
  // background: white;
  border: unset;
}

.container
  .groups-boxes
  .group-box
  .group-box-inner
  .group-info-wrapper
  .group-avatar-flair {
  background: var(--primary-200);
  border-radius: 1em;
}

.container .groups-boxes {
  margin: 0;
  background: var(--header_background);
}

.groups-boxes .group-box .group-box-inner .group-info-wrapper .group-info span {
  font-size: var(--font-0);
  padding-top: 0.5em;
}

.container .groups-boxes .group-box .group-box-inner .group-membership {
  button {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }
}

